<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        {% comment %} Create proper styling for the page {% endcomment %}
        body {
            background-image: url('https://970-cs-5f733fdf-d552-47ec-880d-423b9bd7ee00.cs-asia-southeast1-ajrg.cloudshell.dev/files/download/?id=735a23fd-3015-467c-bd25-4ae6e4312788');
            background-size: cover;
            background-attachment: fixed;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body onload="toggleTable()">
    <div class="container">
        <h1>Detailed Analytics</h1>
        
        <h2>Customer Analytics</h2>
        <p>Missing Supplier Emails: {{ missing_supplier_emails }}</p>
        <p>Missing Supplier Phone Numbers: {{ missing_supplier_phones }}</p>
        <p>Missing Customer Emails: {{ missing_customer_emails }}</p>
        <p>Missing Customer Phone Numbers: {{ missing_customer_phones }}</p>

        <p>To view detailed information on suppliers/customers, select below:</p>

        {% comment %} Create the selector for viewing the table {% endcomment %}
        <label for="contactType">Show: </label>
        <select id="contactType" onchange="toggleTable()">
            <option value="None" selected>None</option>
            <option value="Both">Both</option>
            <option value="Customer">Customers</option>
            <option value="Supplier">Suppliers</option>
        </select>

        {% comment %} create the table and make it change according to data {% endcomment %}
        <div id="tableContainer">
            <h3 id="customerHeading" style="display:none;">Customers</h3>
            <table id="customerTable" style="display:none;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts if contact.is_customer %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3 id="supplierHeading" style="display:none;">Suppliers</h3>
            <table id="supplierTable" style="display:none;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts if contact.is_supplier %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Inventory</h2>
        {% if low_inventory_items %}
        <p>Items that need to be replaced soon: {{ ", ".join(low_inventory_items) }}</p>
        {% endif %}
        
        <p>Total Items in Inventory: {{ total_items_in_inventory }}</p>
        <p>Total Value of Inventory: R{{ "{:,.2f}".format(total_value_of_inventory).replace(',', ' ') }}</p>

        {% comment %} create table for inventory {% endcomment %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Quantity on Hand</th>
                    <th>Purchase Unit Price</th>
                    <th>Sale Unit Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.quantity_on_hand }}</td>
                    <td>{{ item.purchase_unit_price }}</td>
                    <td>{{ item.sale_unit_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Financial Analytics</h2>
        <p>Below is a graphical representation of the company's revenue over time. The following graph shows th day to day inflow and outflow of cash ensuring there is enough mone coming in to maintain a adequate cash flow</p>
        
        {% comment %} display financial charts {% endcomment %}
        <div style="text-align: center;">
            <h3>Day-to-day inflow/outflow chart</h3>
            <canvas id="ModifiedfinancialChart" width="400" height="200"></canvas>
        </div>
        
        <div style="text-align: center;">
            <h3>Total flow of cash</h3>
            <canvas id="financialChart" width="400" height="200"></canvas>
        </div>
        
        {% comment %} display the pie graph {% endcomment %}
        <p>Following are the invoices that are yet to be paid/recieved and how much is owing.</p>
        <div style="text-align: center;">
            <h3>Outstanding Invoices</h3>
            <canvas id="outstandingInvoicesChart" width="50" height="50"></canvas>
        </div>
        
        <!-- Table for Outstanding Income Invoices -->
        <h3>Outstanding Income Invoices</h3>
        <table>
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Contact ID</th>
                    <th>Amount Due</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in outstanding_income_invoices %}
                <tr>
                    <td>{{ invoice.invoice_id }}</td>
                    <td>{{ invoice.contact_id['name'] if invoice.contact_id else 'N/A' }}</td>
                    <td>{{ "%.2f"|format(invoice.amount_due) }}</td>
                    <td>{{ invoice.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Table for Outstanding Expense Invoices -->
        <h3>Outstanding Expense Invoices</h3>
        <table>
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Contact</th>
                    <th>Amount Due</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in outstanding_expense_invoices %}
                <tr>
                    <td>{{ invoice.invoice_id }}</td>
                    <td>{{ invoice.contact_id['name'] if invoice.contact_id else 'N/A' }}</td>
                    <td>{{ "%.2f"|format(invoice.amount_due) }}</td>
                    <td>{{ invoice.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    {% comment %} add in the correct java libraries {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function toggleTable() {
            var select = document.getElementById("contactType");
            var customerTable = document.getElementById("customerTable");
            var supplierTable = document.getElementById("supplierTable");
            var customerHeading = document.getElementById("customerHeading");
            var supplierHeading = document.getElementById("supplierHeading");

            // create logic for contact tables
            if (select.value === "Both") {
                customerTable.style.display = "table";
                supplierTable.style.display = "table";
                customerHeading.style.display = "block";
                supplierHeading.style.display = "block";
            } else if (select.value === "Customer") {
                customerTable.style.display = "table";
                supplierTable.style.display = "none";
                customerHeading.style.display = "block";
                supplierHeading.style.display = "none";
            } else if (select.value === "Supplier") {
                customerTable.style.display = "none";
                supplierTable.style.display = "table";
                customerHeading.style.display = "none";
                supplierHeading.style.display = "block";
            } else {
                customerTable.style.display = "none";
                supplierTable.style.display = "none";
                customerHeading.style.display = "none";
                supplierHeading.style.display = "none";
            }
        }

        // create the different charts with specified elements
        var ctx1 = document.getElementById('financialChart').getContext('2d');
        var financialChart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [{% for date in revenue_dates %}'{{ date }}',{% endfor %}],
                datasets: [{
                    label: 'Revenue',
                    data: [{% for value in revenue_values %}{{ value }},{% endfor %}],
                    backgroundColor: '#36A2EB',
                },
                {
                    label: 'Expenses',
                    data: [{% for value in expense_values %}{{ value }},{% endfor %}],
                    backgroundColor: '#FF6384',
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date',
                            color: 'white'
                        }
                    },
                    y: [
                        {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text : 'Revenue (in Rands)',
                                color: 'white'
                            },
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1000,
                                color: 'white'
                            },
                            grid: {
                                color: 'white'
                            },
                        }
                    ]
                }
            }
        })

        var outstandingIncomeTotal = {{ outstandingIncomeTotal }};
        var outstandingExpenseTotal = {{ outstandingExpenseTotal }};

        // Pie chart for outstanding invoices
        var ctx2 = document.getElementById('outstandingInvoicesChart').getContext('2d');
        var outstandingInvoicesChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Outstanding Income', 'Outstanding Expenses'],
                datasets: [{
                    data: [outstandingIncomeTotal, outstandingExpenseTotal],
                    backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(255, 99, 132, 0.6)']
                }]
            },
            options: {
                responsive: true,
            }
        })

        var ctx3 = document.getElementById('ModifiedfinancialChart').getContext('2d');
        var ModifiedfinancialChart = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: [{% for date in revenue_dates %}'{{ date }}',{% endfor %}],
                datasets: [{
                    label: 'Revenue',
                    data: [{% for value in filtered_revenue_values %}{{ value }},{% endfor %}],
                    backgroundColor: '#36A2EB',
                },
                {
                    label: 'Expenses',
                    data: [{% for value in filtered_expense_values %}{{ value }},{% endfor %}],
                    backgroundColor: '#FF6384',
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date',
                            color: 'white'
                        }
                    },
                    y: [
                        {
                            type: 'linear',
                            position: 'left',
                            title: {
                                display: true,
                                text : 'Revenue (in Rands)',
                                color: 'white'
                            },
                            beginAtZero: true,
                            ticks: {
                                stepSize: 1000,
                                color: 'white'
                            }
                        }
                    ]
                }
            }
        });
    </script>
</body>
</html>
